streamlit
qrcode
numpy
matplotlib
wordcloud
qrcode[pil]  # Ensures that qrcode is installed along with its pillow (PIL) dependency
Pillow
pytz
gTTS
pandas
pydub
scipy
plotly
streamlit-audio-recorder
praat-parselmouth
